*{
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #eee;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
 display: flex; 
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: #202020;
 padding: 10px;
 border-radius: 10px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.row {
  margin-bottom: 5px;
}

button {
  display: flex;
  justify-content: space-between;
  outline: none;
  background: #eee;
  color: #202020;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(189, 189, 189, 0.25);
}
